<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connstrg" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SAS;Integrated Security=True" />
 </connectionStrings>
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	  </appSettings>
</configuration>